{% extends "base.html" %}

{% block title %}Militaris - Про нас{% endblock %}

{% block content %}
<div class="main_content">
    <div class="card">
        <img src="{{ url_for('static', filename='images/uss.jpg') }}" alt="Наша команда">
        <div class="card-text">
            <h2>Про нашу команду та мету сайту</h2>
            <p>Ми - команда студентів Українського Католицького університету, які для навчального проєкту вирішили створити сайт - довідник для людей, які цікавляться історією та зброєю. 
                Ми раді вітати Вас на нашому сайті і дуже сподіваємось, що вам сподобається плід наших старань!
                Наша мета - стати достовірним джерелом інформації для усіх, хто хоче побачити історію України зі сторони війни. Побачити, як прогресувала українська армія протягом останніх двох століть.</p>
        </div>
    </div>

    <h2 class="team">Наша команда</h2>

    <div class="team-section">
        <div class="team-card">
            <img src="{{ url_for('static', filename='images/Arsen.png') }}" alt="Богдан Арсен">
            <h3>Боцко Арсен</h3>
            <p>Back-end development</p>
        </div>
    
        <div class="team-card">
            <img src="{{ url_for('static', filename='images/Yulian.jpg') }}" alt="Юліан">
            <h3>Заяць Юліан</h3>
            <p>Back-end development</p>
        </div>

        <div class="team-card">
            <img src="{{ url_for('static', filename='images/Bohdan.jpg') }}" alt="Павлунін Богдан">
            <h3>Павлунишин Богдан</h3>
            <p>Front-end development</p>
        </div>

        <div class="team-card">
            <img src="{{ url_for('static', filename='images/Roman.JPG') }}" alt="Плем'яш Роман">
            <h3>Пемпусь Роман</h3>
            <p>Front-end development</p>
        </div>
    </div>
</div>
{% endblock %}