{% extends "base.html" %}

{% block title %}Militaris Wikipedia{% endblock %}

{% block extra_css %}
<style>
    .content-wrapper {
        display: flex;
        margin-top: 80px;
        width: 100%;
    }

    .interactive_page {
        width: 20%;
        background-color: #536b39;
        border-radius: 51px;
        height: 950px;
        position: relative;
    }

    .heading {
        background-color: #154c09;
        width: 100%;
        border-radius: 51px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .search {
        background-color: #154c09;
        border-radius: 51px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .interactive_time_period h3 {
        color: white;
        font-size: 20px;
        padding: 20px;
    }

    .interactive_time_period a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 3px 30px;
    }

    .main_content {
        flex-grow: 1;
        padding: 0 20px;
        width: 70%;
    }

    .main_content .same_class_weapons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .main_content .page {
        background-color: #536b39;
        border-radius: 40px;
        width: calc(33.33% - 14px);
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        margin: 0 0 20px 0;
    }

    .main_content .page img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin: 0;
    }

    .time_heading {
        background-color: #154c09;
        color: white;
        border-radius: 40px;
        padding: 15px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .class_heading {
        background-color: #154c09;
        height: 60px;
        color: white;
        border-radius: 51px;
        padding: 15px;
        font-size: 25px;
        width: 50%;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .same_class_weapons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

    .page {
        background-color: #536b39;
        border-radius: 40px;
        width: 32%;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    @media (max-width: 1200px) {
    .content-wrapper {
        flex-direction: column;
    }

    .interactive_page {
        width: 90%;
        margin: 0 auto 30px;
        height: auto;
        padding-bottom: 20px;
    }

    .main_content {
        width: 90%;
        margin: 0 auto;
    }

    .class_heading {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .main_content .page {
        width: calc(50% - 10px);
    }
}

    @media (max-width: 768px) {
        .same_class_weapons {
            justify-content: center;
        }

        .main_content .page {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="interactive_page">
        <p class="heading">Навігація по сторінці</p>
        <div class="interactive_time_period">
            <h3>Часовий період:</h3>
            <a href="/wiki_ww2">Друга світова війна</a>
            <a href="/wiki_ussr">Рядянський період</a>
            <a href="/wiki_1991">Незалежність (1991)</a>
            <a href="/wiki_2014">Незалежність (2014)</a>
            <a href="/wiki_2022">Незалежність (2022)</a>
        </div>
        <div class="interactive_time_period">
            <h3>Клас зброї</h3>
            <a href="#heavy_trucks">Важкі автомобілі</a>
            <a href="#light_trucks">Легкі автомобілі</a>
            <a href="#spec_tec">Інженерна та спеціальна техніка</a>
            <a href="#ppo">Системи ППО</a>
            <a href="#rocket_copml">Такт. ракетні комплекси</a>
            <a href="#rszv">РСЗВ</a>
            <a href="#sau">САУ</a>
            <a href="#tanks">Танки</a>
            <a href="#mrar">МРАР</a>
            <a href="#btr">БТР</a>
            <a href="#pistol">Пістолети</a>
            <a href="#pp">Пістолети-кулемети</a>
            <a href="#ar">Штурмові гвинтівки</a>
            <a href="#machine_gun">Кулемети</a>
            <a href="#sniper">Снайперські гвинтівки</a>
        </div>
    </div>

    <div class="main_content">
        <h1 class="time_heading">Озброєння періоду незалежності - 2022 рік</h1>

        <h3 id="heavy_trucks" class="class_heading">Вантажні автомобілі</h3>

        <div class="same_class_weapons">
            <div class="page">
                <img src="{{ url_for('static', filename='images/RMMV_HX3_unveiled.jpg') }}">
                <h4>RMMV HX</h4>
                <p>HX — серія спеціально розроблених тактичних військових вантажівок виробництва Rheinmetall MAN Military Vehicles</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/RMMV_HX', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/m1070.jpg') }}">
                <h4>M1070</h4>
                <p>M1070 або Oshkosh HET —америк. танковий транспортер виробництва Oshkosh. Основним призначенням є транспортування танка M1 Abrams.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/M1070_(%D1%82%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D0%B8%D0%B9_%D1%82%D1%8F%D0%B3%D0%B0%D1%87)', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/maz_cropped.jpg') }}">
                <h4>МАЗ-537</h4>
                <p>МАЗ-537 — типовий представник сімейства радянських чотирьохосних великовантажних тягачів високої прохідності.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%9C%D0%90%D0%97-537', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/FMTV.jpg') }}">
                <h4>FMTV</h4>
                <p>FMTV — сімейство уніфікованих вантажних автомобілів військового призначення, одна з основних систем Сухопутних військ США.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Family_of_Medium_Tactical_Vehicles', '_blank')">Дізнатися більше</button>
            </div>
            <div class="page">
                <img src="{{ url_for('static', filename='images/Jelcz_800.jpg') }}">
                <h4>Jelcz 800</h4>
                <p>Jelcz 800 — серія військових польських вантажівок виробництва Jelcz. Вантажівка побудована на чотиривісному шасі, може мати колісні формули 8×8, 8×6 та 8×4.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Jelcz_800', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/kraz.jpg') }}">
                <h4>КрАЗ-6446</h4>
                <p>КрАЗ-6446 — сідловий тягач підвищеної прохідності з колісною формулою 6x6 представлений в 1994 році є продовженням сімейства 6322.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%9A%D1%80%D0%90%D0%97-6446', '_blank')">Дізнатися більше</button>
            </div>
        </div>

        <h3 id="light_trucks" class="class_heading">Легкі автомобілі</h3>

        <div class="same_class_weapons">
            <div class="page">
                <img src="{{ url_for('static', filename='images/Mitsubishi_Type_73.jpg') }}">
                <h4>Mitsubishi Type 73</h4>
                <p>Mitsubishi Type 73 — компактний армійський позашляховик японської компанії Mitsubishi Motors, що випускається з 1973 року для сил самооборони Японії.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Mitsubishi_Type_73', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/bhd23.jpg') }}">
                <h4>Богдан 2351</h4>
                <p>Богдан 2351 — багатоцільовий автомобіль у форм-факторі пікапу, повнопривідний позашляховик. Виготовляється корпорацією Богдан.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%91%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD-2351', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/volt.jpg') }}">
                <h4>VOLS</h4>
                <p>VOLS — військовий багі, створений українським підприємцем Володимиром Садиком після повномасштабного російського вторгнення в Україну в 2022 році.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/VOLS', '_blank')">Дізнатися більше</button>
            </div>

        </div>


        <h3 id="spec_tec" class="class_heading">Інженерна та спеціальна техніка</h3>

        <div class="same_class_weapons">
            <div class="page">
                <img src="{{ url_for('static', filename='images/FV180.jpg') }}">
                <h4>FV180</h4>
                <p>FV180 Combat Engineer Tractor — спеціальна броньована машина-амфібія британської армії. Використовується для підготовки землі до будівництва мосту, здійснення буксирування на лінії фронту</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/FV180_Combat_Engineer_Tractor', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/HEMTT.jpg') }}">
                <h4>HEMTT</h4>
                <p>HEMTT — уніфіковані важкі вантажні автомобілі військового призначення, одна із основних систем Сухопутних військ США. Розроблені та виготовляються корпорацією Oshkosh.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Heavy_Expanded_Mobility_Tactical_Truck', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="{{ url_for('static', filename='images/Buffalo.jpg') }}">
                <h4>Buffalo MPV</h4>
                <p>Buffalo MPV — панцирна інженерна машина Армії США з із захистом від мін і засідок. Розроблений в ході програми MRAP на основі південно-африканського двоосьового панцирника Casspir.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Buffalo_MPV', '_blank')">Дізнатися більше</button>
            </div>

        </div>


        <h3 id="ppo" class="class_heading">Системи ППО</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Patriot_MIM-104.jpg">
                <h4>MIM-104 Patriot</h4>
                <p>MIM-104 Patriot — зенітний ракетний комплекс (ЗРК), основний ЗРК Армії США, який виробляє американський оборонний підрядник Raytheon Technologies.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/MIM-104_Patriot', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/ZRS_S-300PS_2007_G1.jpg">
                <h4>С-300</h4>
                <p>С-300 (за кодифікацією НАТО — SA-10 Grumble, SA-12 Giant/Gladiator, SA-20 Gargoyle) — сімейство радянських зенітно-ракетних комплексів середнього радіуса дії.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%A1-300', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f4/NASAMS_3_in_Lithuanian_service.jpg">
                <h4>NASAMS</h4>
                <p>NASAMS[a] — норвезький зенітний ракетний комплекс середньої дальності. Розробка норвезької компанії Norwegian Kongsberg і американської Raytheon.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/NASAMS', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="rocket_copml" class="class_heading">Такт. ракетні комплекси</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/86/OTR-21_Tochka_during_a_parade_in_Kiev_%28cropped%29.jpg">
                <h4>Точка</h4>
                <p>«То́чка» — радянський тактичний (дивізійний) ракетний комплекс. Розробка почалася 1968 року у Коломенському КБ машинобудування.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%A2%D0%BE%D1%87%D0%BA%D0%B0_(%D1%82%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%BD%D0%B8%D0%B9_%D1%80%D0%B0%D0%BA%D0%B5%D1%82%D0%BD%D0%B8%D0%B9_%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81)', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/ATACMSMay2006_%28cropped%29.jpg">
                <h4>ATACMS</h4>
                <p>ATACMS (англ. Army TACtical Missile System — Армійська тактична ракетна система) — тактична балістична ракета, які виробляє компанія Lockheed Martin. Створена в часи Холодної війни і вперше застосована в 1991 році під час війни в Перській затоці.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/ATACMS', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Военный_парад_в_честь_Дня_Независимости_Украины_Military_parade_in_honor_of_the_Independence_Day_of_Ukraine_%2843337211255%29_%28cropped%29.jpg">
                <h4>Грім-2</h4>
                <p>Грім-2» (експортна назва[1]) або ОТРК «Сапсан» — український оперативно-тактичний ракетний комплекс, що перебуває на стадії розробки конструкторським бюро «Південне». Розробляється з 2013 року на базі попередніх розробок за проєктами «Борисфен» та БФРК «Сапсан».</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%93%D1%80%D1%96%D0%BC-2', '_blank')">Дізнатися більше</button>
            </div>

        </div>


        <h3 id="rszv" class="class_heading">РСЗВ</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/1-14th_FAR_conducts_HIRAIN_exercise_as_part_of_DEFENDER-Europe_22_DVIDS7232028.jpg">
                <h4>M142 HIMARS</h4>
                <p>M142 HIMARS (абр. від англ. High Mobility Artillery Rocket System, «високомобільна артилерійська ракетна система») — американська реактивна артилерійська система.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/M142_HIMARS', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/РСЗВ_%22Буревій%2201.jpg">
                <h4>Буревій</h4>
                <p>«Буреві́й» — українська реактивна система залпового вогню калібром 220 мм. Розроблена ДП «Шепетівський ремонтний завод» для заміни БМ-27 «Ураган» в Збройних силах України.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%91%D1%83%D1%80%D0%B5%D0%B2%D1%96%D0%B9_(%D0%A0%D0%A1%D0%97%D0%92)', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Vilkha_missile_complex%2C_Kyiv_2018%2C_47.jpg">
                <h4>Ві́льха</h4>
                <p>«Ві́льха» — українська реактивна система залпового вогню (РСЗВ) з коригованим боєприпасом калібру 300 мм. Розроблена на основі радянської реактивної системи залпового вогню 9К58 «Смерч». Прийнята на озброєння української армії у 2018 році</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%BB%D1%8C%D1%85%D0%B0_(%D1%80%D0%B0%D0%BA%D0%B5%D1%82%D0%BD%D0%B8%D0%B9_%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81)', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="sau" class="class_heading">САУ</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/UA_Bohdana_SPH_on_MAZ_chassis_02.jpg">
                <h4>Богдана</h4>
                <p>2С22 «Богдана» — українська 155-мм самохідна артилерійська установка на колісному шасі, яка стала першою українською САУ, розробленою під стандартний для країн НАТО калібр 155 мм</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/2%D0%A122_%C2%AB%D0%91%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD%D0%B0%C2%BB', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/CAESAR_%28camion_équipé_d%27un_système_d%27artillerie%29_1.jpg">
                <h4>CAESAR</h4>
                <p>CAESAR (фр. CAmion Equipé d'un Système d'ARtillerie — «вантажівка, оснащена артилерійською системою»), вимовляється як «Це́зар» — французька 155-мм самохідна артилерійська установка, призначена для знищення живої сили, артилерійських батарей, дзотів, а також для забезпечення проходів у мінних полях і польових загородженнях.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/CAESAR', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/UA_AHS_Krab_05.jpg">
                <h4>AHS Krab</h4>
                <p>САУ Краб (від пол. AHS Krab) — польська самохідна гаубиця калібру 155 мм, сумісна з боєприпасами НАТО
                    Гаубиця має польську ліцензійну башту від британської САУ AS-90 зі стволом калібру 155 мм і завдовжки у 52 калібри.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/AHS_Krab', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="tanks" class="class_heading">Танки</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Leopard_2_A7V_313_Bad_Frankenhausen_2024.JPG">
                <h4>Leopard 2</h4>
                <p>Leopard 2 (укр. Леопард 2) — німецький основний бойовий танк третього покоління. Розроблений компанією Krauss-Maffei у 1970-х роках, надійшов на озброєння в 1979 році на зміну попереднього Леопарда 1 як основний танк західнонімецьких сухопутних військ</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Leopard_2', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/M1A2_tanks_at_Combined_Resolve_II_%2814069815848%29.jpg">
                <h4>M1 Abrams</h4>
                <p>M1 «А́брамс» (англ. M1 Abrams) — основний бойовий танк третього покоління виробництва Сполучених Штатів. Танк названо на честь генерала Крейтона Абрамса, колишнього начальника штабу Армії США і командувача збройними силами США у В'єтнамі з 1968 по 1972 рік.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/M1_Abrams', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Challenger_2_Tank_During_Amphibious_Demonstration_MOD_45152080.jpg">
                <h4>Challenger 2</h4>
                <p>FV4034 Challenger 2 («Че́ленджер 2»[a]; позначення МО Великої Британії — CR2) — основний бойовий танк третього покоління сухопутних військ Великої Британії, який перебуває на озброєнні армій Сполученого Королівства, України[4] та Оману</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Challenger_2', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="mrar" class="class_heading">МРАР</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/KrAZ_Shrek_One.jpg">
                <h4>KrAZ Shrek One</h4>
                <p>KrAZ-MPV Shrek One (КрАЗ-МПВ Шрек Один) — сімейство українських бронеавтомобілів з V-подібним днищем, розроблених компанією АвтоКрАЗ спільно з канадською компанією Streit Group на основі КрАЗ-5233ВЕ</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/KrAZ_Shrek_One', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/KrAZ_Feona_in_Kyiv.jpg">
                <h4>KrAZ Fiona</h4>
                <p>KrAZ Fiona (КрАЗ Фіона) — сімейство українських бронеавтомобілів з V-подібним днищем з колісною формулою 6х6, розроблених компанією АвтоКрАЗ спільно з канадською компанією Streit Group на основі КрАЗ-6322.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/KrAZ_Fiona', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/U.S.Marine_Cougar_H_EOD.jpg">
                <h4>Cougar</h4>
                <p>«Кугуар» — американська машина з захистом від мін і засідок (MRAP), розроблена на початку 2000-х років компанією Force Protection[en] з використанням технологій південноафриканської компанії Olifant Manufacturing Company.[5]</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Cougar_(%D0%B1%D1%80%D0%BE%D0%BD%D0%B5%D0%B0%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D1%96%D0%BB%D1%8C)', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="btr" class="class_heading">БТР</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/M113_of_UA_marines_01.jpg">
                <h4>M113</h4>
                <p>M113 (англ. M113 armored personnel carrier) — американський гусеничний бронетранспортер, перша серійна військова машина з алюмінієвим корпусом. Тривалий час був основним бронетранспортером армії США</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/M113', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Spartan_Armoured_Personnel_Carrier_Exits_Landing_Craft_During_Amphibious_Capability_Demonstration_MOD_45152077.jpg">
                <h4>FV103 Spartan</h4>
                <p>FV103 Spartan (тр. «Спе́ртан», укр. «спартанець») — гусеничний бронетранспортер британської армії. Розроблений як варіант БТР сімейства Combat Vehicle Reconnaissance (гусеничний).
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/FV103_Spartan', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/БТР-4_на_навчаннях.jpg">
                <h4>БТР-4</h4>
                <p>БТР-4 «Буцефал» — повнопривідний восьмиколісний бронетранспортер (БТР) з колісною формулою 8×8, розроблений в Україні Харківським конструкторським бюро машинобудування</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%91%D0%A2%D0%A0-4', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="pistol" class="class_heading">Пістолети</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Fort-17.jpg">
                <h4>Fort-17</h4>
                <p>Форт-17 — ручний самозарядний пістолет калібру 9 мм, призначений для ураження живої сили противника на відстані до 50 м. Пістолет Форт-17 є подальшим розвитком пістолета Форт-12[1].</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%A4%D0%BE%D1%80%D1%82-17', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/M9-pistolet.jpg">
                <h4>Beretta M9</h4>
                <p>Beretta M9 (також відомий як M9) — легкий пістолет під набій 9×19 мм Парабелум, розроблений італійською компанією Beretta. Модель розроблена на базі Beretta 92SB для використання Збройними силами США
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Beretta_M9', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/HK-SFP9_LSH.JPG">
                <h4>Heckler & Koch VP9</h4>
                <p>Heckler & Koch VP9, також HK SFP9 — німецький ударниковий самозарядний пістолет. VP9 є третім пістолетом з УСМ, що був розроблений фірмою Heckler & Koch і представлений в червні 2014 року.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Heckler_%26_Koch_VP9', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="pp" class="class_heading">Пістолети-кулемети</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/CZ_Scorpion_EVO_III.jpg">
                <h4>Scorpion EVO 3</h4>
                <p>Scorpion EVO 3 — 9-мм карабін виробництва Česká zbrojovka Uherský Brod. Варіант пістолета-кулемета з вибором режиму вогню позначається A1, а напівавтоматичний варіант — S1</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/CZ_Scorpion_Evo_3', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/B%26T_APC_9_K_side_profile.jpg">
                <h4>B&T APC</h4>
                <p>B&T APC (Advanced Police Carbine) — сімейство вогнепальної зброї, розробленої та виробленої компанією B&T (раніше відомої як Brügger & Thomet) у Швейцарії.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/APC9', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Hkmp5count-terr-wiki.jpg">
                <h4>Heckler & Koch MP5, HK MP5</h4>
                <p>Heckler & Koch MP5, HK MP5 (нім. Maschinenpistole 5 — пістолет-кулемет, модель № 5) — родина пістолетів-кулеметів, розроблених німецьким виробником стрілецької збро</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Heckler_%26_Koch_MP5', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="ar" class="class_heading">Автомати</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/M16a1m16a2m4m16a45wi.jpg">
                <h4>М16</h4>
                <p>М16, офіційно значиться як Rifle, Caliber 5.56 mm — узагальнювальна назва сімейства автоматичних гвинтівок, які походять від ArmaLite AR-15 та розроблені компанією Colt в середині XX століття</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/M16_(%D0%B0%D0%B2%D1%82%D0%BE%D0%BC%D0%B0%D1%82%D0%B8%D1%87%D0%BD%D0%B0_%D0%B3%D0%B2%D0%B8%D0%BD%D1%82%D1%96%D0%B2%D0%BA%D0%B0)', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/ScarSandiaPix.png">
                <h4>FN SCAR</h4>
                <p>FN SCAR (англ. Special Operations Forces Combat Assault Rifle[7] — бойова штурмова гвинтівка для сил спеціальних операцій) — збройова система, розроблена американським підрозділом бельгійської компанії FN Herstal
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/FN_SCAR', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/HK416N.png">
                <h4>HK416</h4>
                <p>HK416 — автоматична гвинтівка, створена німецькою компанією Heckler & Koch на базі карабіна М4 (покращений варіант). Для початку зброя мала стати змінним модулем для установки на будь-яку нижню частину ствольної коробки гвинтівок M4 та M16, але пізніше з'явилися і повноцінні автомати.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/Heckler_%26_Koch_HK416', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="machine_gun" class="class_heading">Кулемети</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/PEO_M249_Para_ACOG.jpg">
                <h4>M249</h4>
                <p>Ручний кулемет M249 (англ. M249 light machine gun) — американський кулемет, модифікація бельгійського кулемета FN Minimi.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/M249_(%D0%BA%D1%83%D0%BB%D0%B5%D0%BC%D0%B5%D1%82)', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Heckler_%26_Koch_MG5.jpg">
                <h4>MG5</h4>
                <p>MG5[a] (позначення виробника — HK121) — кулемет загального призначення калібру НАТО 7,62×51 мм, розроблений німецькою компанією Heckler & Koch на основі MG4.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/MG5', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/IWI-Negev-Zachi-Evenor-01-white.jpg">
                <h4>Негев</h4>
                <p>Негев (івр. נגב,англ. Negev) — ізраїльський ручний кулемет калібру 5,56×45 мм. Розроблений збройовою компанією IWI.</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%9D%D0%B5%D0%B3%D0%B5%D0%B2_(%D0%BA%D1%83%D0%BB%D0%B5%D0%BC%D0%B5%D1%82)', '_blank')">Дізнатися більше</button>
            </div>

        </div>

        <h3 id="sniper" class="class_heading">Снайперські гвинтівки</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Zbroyar_UAR-10_20_inch%2C_Kyiv_2021%2C_03.jpg">
                <h4>Зброяр Z-10</h4>
                <p>Зброяр Z-10 (шифр у ЗСУ — UAR-10) — самозарядна (напівавтоматична) гвинтівка з поворотним затвором та автоматикою на основі відведення порохових газів виробництва ТОВ «Зброяр».</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/%D0%97%D0%B1%D1%80%D0%BE%D1%8F%D1%80_Z-10', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://static.wixstatic.com/media/28cee6_cb1320399c4a45bab692bf0d8a9f0b41~mv2.png/v1/fill/w_940,h_528,al_c,q_90,enc_avif,quality_auto/28cee6_cb1320399c4a45bab692bf0d8a9f0b41~mv2.png">
                <h4>DT SRS</h4>
                <p>Stealth Recon Scout (DT SRS) — снайперська гвинтівка, розроблена невеликою американською компанією Desert Tactical Arms.
                </p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/DT_SRS', '_blank')">Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://static.wixstatic.com/media/8e3970_bb3ee667def24e289380e23e5adbfe76~mv2.png/v1/fill/w_690,h_382,al_c,lg_1,q_85,enc_avif,quality_auto/8e3970_bb3ee667def24e289380e23e5adbfe76~mv2.png">
                <h4>WKW Wilk</h4>
                <p>WKW Wilk або WKW Tor — сучасна польська великокаліберна снайперська гвинтівка, виробництва Тарнувського механічного заводу. Назва «WKW Tor» розшифровується як Wielkokalibrowy Karabin Wyborowy (укр. великокаліберна снайперська гвинтівка).</p>
                <button onclick="window.open('https://uk.wikipedia.org/wiki/WKW_Wilk', '_blank')">Дізнатися більше</button>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    setTimeout(function() {
        const flash = document.querySelector('div[style*="position: absolute"]');
        if (flash) {
            flash.style.transition = 'opacity 0.5s ease';
            flash.style.opacity = '0';
            setTimeout(() => flash.remove(), 500);
        }
    }, 3000);
</script>
{% endblock %}
