{% extends "base.html" %}

{% block title %}Militaris Wikipedia{% endblock %}

{% block extra_css %}
<style>
    .content-wrapper {
        display: flex;
        margin-top: 80px;
        width: 100%;
    }

    .interactive_page {
        width: 20%;
        background-color: #536b39;
        border-radius: 51px;
        height: 950px;
        position: relative;
    }

    .heading {
        background-color: #154c09;
        width: 100%;
        border-radius: 51px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .search {
        background-color: #154c09;
        border-radius: 51px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .interactive_time_period h3 {
        color: white;
        font-size: 20px;
        padding: 20px;
    }

    .interactive_time_period a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 3px 30px;
    }

    .main_content {
        flex-grow: 1;
        padding: 0 20px;
        width: 70%;
    }

    .main_content .same_class_weapons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .main_content .page {
        background-color: #536b39;
        border-radius: 40px;
        width: calc(33.33% - 14px);
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        margin: 0 0 20px 0;
    }

    .main_content .page img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin: 0;
    }

    .time_heading {
        background-color: #154c09;
        color: white;
        border-radius: 40px;
        padding: 15px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .class_heading {
        background-color: #154c09;
        height: 60px;
        color: white;
        border-radius: 51px;
        padding: 15px;
        font-size: 25px;
        width: 50%;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .same_class_weapons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

    .page {
        background-color: #536b39;
        border-radius: 40px;
        width: 32%;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    @media (max-width: 1200px) {
    .content-wrapper {
        flex-direction: column;
    }

    .interactive_page {
        width: 90%;
        margin: 0 auto 30px;
        height: auto;
        padding-bottom: 20px;
    }

    .main_content {
        width: 90%;
        margin: 0 auto;
    }

    .class_heading {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .main_content .page {
        width: calc(50% - 10px);
    }
}

    @media (max-width: 768px) {
        .same_class_weapons {
            justify-content: center;
        }

        .main_content .page {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="interactive_page">
        <p class="heading">Навігація по сторінці</p>
        <p class="search">Пошук...</p>
        <div class="interactive_time_period">
            <h3>Часовий період:</h3>
            <a href="/wiki_ww1">Перша світова війна</a>
            <a href="/wiki_ww2">Друга світова війна</a>
            <a href="/wiki_ussr">Рядянський період</a>
            <a href="/wiki_1991">Незалежність (1991)</a>
            <a href="/wiki_2014">Незалежність (2014)</a>
            <a href="/wiki_2022">Незалежність (2022)</a>
        </div>
        <div class="interactive_time_period">
            <h3>Клас зброї</h3>
            <a href="#heavy_trucks">Важкі автомобілі</a>
            <a href="#light_trucks">Легкі автомобілі</a>
            <a href="#spec_tec">Системи ППО</a>
            <a href="#ppo">Такт. ракетні комплекси</a>
            <a href="#rocket_copml">РСЗВ</a>
            <a href="#sau">САУ</a>
            <a href="#tanks">Танки</a>
            <a href="#mrar">МРАР</a>
            <a href="#btr">БТР</a>
            <a href="#pistol">Пістолети</a>
            <a href="#pp">Пістолети-кулемети</a>
            <a href="#ar">Штурмові гвинтівки</a>
            <a href="#machine_gun">Кулемети</a>
            <a href="#sniper">Снайперські гвинтівки</a>
        </div>
    </div>

    <div class="main_content">
        <h1 class="time_heading">Озброєння періоду незалежності - 2022 рік</h1>

        <h3 id="heavy_trucks" class="class_heading">Вантажні автомобілі</h3>

        <div class="same_class_weapons">

        </div>

        <h3 id="light_trucks" class="class_heading">Легкі автомобілі</h3>

        <div class="same_class_weapons">

        </div>


        <h3 id="spec_tec" class="class_heading">Інженерна та спеціальна техніка</h3>

        <div class="same_class_weapons">

        </div>


        <h3 id="ppo" class="class_heading">Системи ППО</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="rocket_copml" class="class_heading">Такт. ракетні комплекси</h3>
        <div class="same_class_weapons">

        </div>


        <h3 id="rszv" class="class_heading">РСЗВ</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="sau" class="class_heading">САУ</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="tanks" class="class_heading">Танки</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="mrar" class="class_heading">МРАР</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="btr" class="class_heading">БТР</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="pistol" class="class_heading">Пістолети</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="pp" class="class_heading">Пістолети-кулемети</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="ar" class="class_heading">Автомати</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="machine_gun" class="class_heading">Кулемети</h3>
        <div class="same_class_weapons">

        </div>

        <h3 id="sniper" class="class_heading">Снайперські гвинтівки</h3>
        <div class="same_class_weapons">
            <div class="page">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Zbroyar_UAR-10_20_inch%2C_Kyiv_2021%2C_03.jpg">
                <h4>Зброяр Z-10</h4>
                <p>Зброяр Z-10 (шифр у ЗСУ — UAR-10) — самозарядна (напівавтоматична) гвинтівка з поворотним затвором та автоматикою на основі відведення порохових газів виробництва ТОВ «Зброяр».</p>
                <button>Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://static.wixstatic.com/media/28cee6_cb1320399c4a45bab692bf0d8a9f0b41~mv2.png/v1/fill/w_940,h_528,al_c,q_90,enc_avif,quality_auto/28cee6_cb1320399c4a45bab692bf0d8a9f0b41~mv2.png">
                <h4>DT SRS</h4>
                <p>Stealth Recon Scout (DT SRS) — снайперська гвинтівка, розроблена невеликою американською компанією Desert Tactical Arms.
                </p>
                <button>Дізнатися більше</button>
            </div>

            <div class="page">
                <img src="https://static.wixstatic.com/media/8e3970_bb3ee667def24e289380e23e5adbfe76~mv2.png/v1/fill/w_690,h_382,al_c,lg_1,q_85,enc_avif,quality_auto/8e3970_bb3ee667def24e289380e23e5adbfe76~mv2.png">
                <h4>WKW Wilk</h4>
                <p>WKW Wilk або WKW Tor — сучасна польська великокаліберна снайперська гвинтівка, виробництва Тарнувського механічного заводу. Назва «WKW Tor» розшифровується як Wielkokalibrowy Karabin Wyborowy (укр. великокаліберна снайперська гвинтівка).</p>
                <button>Дізнатися більше</button>
            </div>

        </div>

    </div>
</div>

    <script>
    setTimeout(function() {
        const flash = document.querySelector('div[style*="position: absolute"]');
        if (flash) {
        flash.style.transition = 'opacity 0.5s ease';
        flash.style.opacity = '0';
        setTimeout(() => flash.remove(), 500);
        }
    }, 3000);
    </script>
</body>
</html>