<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Militaris{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="navigation">
        <div class="navigation_links">
            {% if session.get('user_id') %}
            <a href="{{ url_for('profile') }}" class="profile-circle">
                {% if profile_pic_exists %}
                    <img src="{{ url_for('static', filename=profile_pic_url) }}" alt="Profile">
                {% else %}
                    {{ session.get('username', '?')[0].upper() }}
                {% endif %}
            </a>
            {% endif %}
            
            <div class="nav-center">
                <button onclick="window.location.href='/'">Головна</button>
                <button onclick="window.location.href='/wikipedia'">Довідник</button>
                <button onclick="window.location.href='/map'">Карта</button>
                <button onclick="window.location.href='/about'">Про нас</button>
                <button onclick="window.location.href='/forum'">Форум</button>
            </div>
    
            <div class="nav-right">
                {% if session.get('user_id') %}
                    <button onclick="window.location.href='/logout'">Log Out</button>
                {% else %}
                    <button onclick="window.location.href='/login'">Log In</button>
                    <button onclick="window.location.href='/signup'">Sign Up</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content-container">
        {% block content %}


        {% endblock %}
    </div>

    <div class="footer">
        <p>2025 © Militaris</p>
    </div>

    {% block scripts %}


    {% endblock %}
</body>
</html>