{% extends "base.html" %}

{% block title %}Карта - Militaris{% endblock %}

{% block extra_css %}
<style>
    #sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: #2e4a26;
        width: 280px;
        padding: 20px;
        color: white;
        z-index: 200;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 70px; 
    }

    #sidebar h3 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #f4f4f4;
        font-weight: bold;
        text-align: center;
    }

    .filter-group {
        margin-bottom: 20px;
    }

    .filter-group label {
        display: block;
        margin-bottom: 5px;
    }

    .filter-group input, .filter-group select {
        width: 85%;
        padding: 10px 15px;
        border-radius: 8px;
        border: 2px solid #536b39;
        background-color: #f4f4f4;
        color: #333;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    .filter-group input:focus, .filter-group select:focus {
        border-color: #8a9e6c;
        outline: none;
        box-shadow: 0 0 10px rgba(133, 150, 108, 0.6);
    }

    .filter-group input::placeholder, .filter-group select {
        color: #7c7c7c;
    }

    .filter-group input:hover, .filter-group select:hover {
        background-color: #e7e7e7;
    }

    button[type="submit"] {
        background-color: #154c09;
        color: white;
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #3e6b23;
    }

    #map {
        width: calc(100% - 0px);
        height: 1000px;

    }

    .leaflet-tooltip {
        font-size: 18px !important;
    }
    
    .leaflet-popup-content {
        font-size: 18px !important;
    }

    .content-container {
        padding: 0;
        margin: 0;
        margin-top: 70px;
    }

    .footer {
        z-index: 300;
    }
    
    .flash-message {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #154c09;
        color: white;
        font-family: Tahoma;
        padding: 15px 25px;
        border-radius: 10px;
        z-index: 999;
    }
</style>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="flash-message">
    {% for category, message in messages %}
        <p style="margin: 0;">{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

<div id="sidebar">
    <h3>Фільтри</h3>
    <form method="post">
        <div class="filter-group">
            <label for="start_year">Виберіть початковий рік</label>
            <input type="number" name="start_year" id="start_year" placeholder="Введіть початковий рік" value="{{ selected_start_year }}">
        </div>
        <div class="filter-group">
            <label for="end_year">Виберіть кінцевий рік</label>
            <input type="number" name="end_year" id="end_year" placeholder="Введіть кінцевий рік" value="{{ selected_end_year }}">
        </div>
        <div class="filter-group">
            <label for="period">Виберіть період</label>
            <select name="period" id="period">
                <option value="">Виберіть період</option>
                <option value="WW1" {% if selected_period == 'WW1' %} selected {% endif %}>Перша світова війна</option>
                <option value="WW2" {% if selected_period == 'WW2' %} selected {% endif %}>Друга світова війна</option>
                <option value="CR" {% if selected_period == 'CW' %} selected {% endif %}>Холодна війна</option>
                <option value="UR" {% if selected_period == 'UR' %} selected {% endif %}>Війна Росії з Україною</option>
            </select>
        </div>
        <button type="submit">Фільтрувати</button>
    </form>
</div>

<div id="map">
    {{ map_html|safe }}
</div>
{% endblock %}

{% block scripts %}
<script>
    setTimeout(function() {
        const flash = document.querySelector('.flash-message');
        if (flash) {
            flash.style.transition = 'opacity 0.5s ease';
            flash.style.opacity = '0';
            setTimeout(() => flash.remove(), 500);
        }
    }, 3000);
</script>
{% endblock %}