{% extends "base.html" %}

{% block title %}{{ post.title }} - Militaris{% endblock %}

{% block extra_css %}
<style>
    .back-button {
        background-color: #154c09;
        color: white;
        padding: 12px 24px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s;
    }

    .back-button:hover {
        background-color: #3e6b23;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="forum-title">{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <h2>Comments</h2>

    <form action="/post/{{ post.id }}" method="POST" class="add-post-form">
        <textarea name="comment" required></textarea><br><br>
        <button type="submit">Add Comment</button>
    </form>

    {% for comment in comments %}
    <div class="post">
        <p>{{ comment.content }}</p>
        {% if session.get('user_id') == comment.user_id %}
            <a href="/delete_comment/{{ comment.id }}">Delete Comment</a>
        {% endif %}
    </div>
    {% endfor %}

    <button class="back-button" onclick="window.location.href='/forum'">Back to Forum</button>
</div>
{% endblock %}